<div class="grid grid-cols-3 gap-4 text-4xl text-center font-natural mx-auto">
  <h1>スマダガカル</h1>
  <h1>ヤマアカガエル</h1>
  <h1>マガダスカル</h1>
  <h1>ガダマスカル</h1>
  <h1>マダカスガル</h1>
  <h1>ツチガエル</h1>
  <h1>ガスダマカル</h1>
  <h1>ダマガスカル</h1>
  <h1>ダガマスカル</h1>
  <h1>カマダガスル</h1>
  <h1>ヌマガエル</h1>
  <h1>シュレーゲルアオガエル</h1>
  <h1>マダカスガル</h1>
  <h1>ガダマスカル</h1>
  <h1>トノサマガエル</h1>
  <%= link_to 'マダガスカル', weather_details_path %>
  <h1>サマダカスル</h1>
  <h1>ニホンアカガエル</h1>
  <h1>カマダスガル</h1>
  <h1>ガスダマカル</h1>
  <h1>カジカガエル</h1>
  <h1>カマダガスル</h1>
  <h1>スマダガカル</h1>
  <h1>マダガスアル</h1>
  <h1>マガダスカル</h1>
  <h1>ダガマスカル</h1>
  <h1>タゴガエル</h1>
  <h1>マダカスガル</h1>
  <h1>ガダマスカル</h1>
  <h1>モリアオガエル</h1>
  <h1>サマダカスル</h1>
  <h1>ウシガエル</h1>
  <h1>カマダスガル</h1>
  <%= link_to 'マダガスカル', weather_details_path %>
  <h1>ガスダマカル</h1>
  <h1>ニホンアマガエル</h1>
  <h1>カマダガスル</h1>
  <h1>カンガルー</h1>
  <h1>ダルマガエル</h1>
</div>


